@{
    ViewData["Title"] = "ホーム";
}

<div id="main-img">
    <p id="main-header">
        東京電機大学二部写真部
    </p>
</div>

<section id="about">
    <div id="about-parent" class="margin-top-bottom">
        <div id="about-right">
            <h1>部活について</h1>
            <p>
                こんにちわ！私たちは東京電機大学二部写真部です。
                このホームページでは、部員が撮った写真や、活動報告を更新していきます。
            </p>
            <p class="vertical-space"></p>
            <div>
                <p>
                    部室 : 東京電機大学二部写真部です。
                </p>
                <p>
                    部員：50名
                </p>
                <p>
                    主な活動として、1ヶ月1回の撮影会。
                </p>
                <p>
                    夏休みは、合宿を行います。
                </p>
                <p>
                    毎年、学園祭(旭際)では、中間部写真部さんと合同で展示会を行っていなす。
                </p>
            </div>
        </div>

        <div id="about-left">
            <img src="assets/about-camera.png" alt="picture of a film camera" id="camera-img">
            <p>
                写真部はいつでも部員募集中です!
            </p>
            <p>
                カメラを持っていなくても、貸し出し用のカメラを持って、撮影してみよう!!
            </p>

        </div>
    </div>
</section>

<section id="gallery">
    <div id="gallery-parent" class="margin-top-bottom">
        <div id="gallery-left">
            <div class="image">
                <img src="assets/grid.jpg" alt="">
                <img src="assets/grid.jpg" alt="">
                <img src="assets/grid.jpg" alt="">
            </div>
            <div class="image">
                <img src="assets/grid.jpg" alt="">
                <img src="assets/grid.jpg" alt="">
                <img src="assets/grid.jpg" alt="">
            </div>
            <div class="image">
                <img src="assets/grid.jpg" alt="">
                <img src="assets/grid.jpg" alt="">
                <img src="assets/grid.jpg" alt="">
            </div>
        </div>
        
        <div id="gallery-right">
            <h1>ギャラリー</h1>
            <p>
                サークルのメンバーが投稿した写真です。
            </p>
            <button>もっと見る ></button>
        </div>
        
    </div>
</section>