@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
body {
  font-family: "Noto Sans JP", serif;
  margin: 0;
  padding: 0;
  color: #616161;
  font-size: 20px;
  overflow-x: hidden;
}

button, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: solid;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#sidebar-show-button {
  border: none;
}

#desktop-navbar li {
  max-width: 100%;
  white-space: nowrap;
}

.nav-parent {
  z-index: 9;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 1px 10px #999;
}

.hover, button {
  transition: all 0.2s ease-in-out;
}

.hover:hover, button:hover {
  transform: scale(1.1);
}

nav a {
  color: #616161;
}

a {
  font-size: 1em;
  text-decoration: none;
}

ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}

nav ul li {
  margin: 0 1.5em;
  position: relative;
}

#nav-icon {
  display: flex;
}
#nav-icon i {
  margin-right: 0.6em;
  font-size: 2em;
}

.slash {
  position: absolute;
  margin: 0 -0.8em;
  font-size: 2em;
  top: -4px;
  width: 1px;
  height: 1em;
  background: #616161;
  transform: skew(-45deg);
}

.nav-image {
  margin: 8px 10px 0;
  color: #616161;
}

.fill:hover {
  color: whitesmoke !important;
}

.fill:before {
  content: "";
  position: absolute;
  background: #70A4A8;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.1s ease-in;
}

.fill:hover:before {
  top: 0;
}

.no-display {
  display: none;
}

#mobile-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  background-color: #707070;
  overflow-x: hidden;
  transition: 0.3s;
}

#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}

#mobile-navbar ul {
  padding: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#mobile-navbar li {
  margin: 10px 0;
  white-space: nowrap;
}
#mobile-navbar a {
  font-weight: 100;
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  position: relative;
  margin-top: 10px;
}
#mobile-navbar li:after {
  content: "";
  position: absolute;
  width: 180px;
  height: 1px;
  right: 35px;
  margin-top: 10px;
  background-color: white;
}
#mobile-navbar .close-button {
  position: absolute;
  top: 20px;
  right: 45px;
}

#mobile-navbar-icons {
  display: flex;
  width: 100%;
  justify-content: center;
}
#mobile-navbar-icons img {
  margin: 10px;
  width: 40px;
  height: 40px;
}

#mobile li {
  margin: 4px 14px;
}

@media (max-width: 840px) {
  #desktop-navbar {
    display: none;
  }

  #mobile {
    margin: 4px;
  }

  .nav-image {
    margin: 0;
    width: 40px;
  }
}
@media (min-width: 841px) {
  #mobile {
    display: none;
  }
}

/*# sourceMappingURL=navbar.css.map */
